<!doctype html>
<html lang="en">
  <head>
    <script src="https://code.jquery.com/jquery.min.js"></script>
    <link rel="stylesheet" href="http://openlayers.org/en/v3.8.2/css/ol.css" type="text/css">
    <style>
      .map {
        height: 400px;
        width: 100%;
      }
    </style>
    <script src="http://openlayers.org/en/v3.8.2/build/ol.js" type="text/javascript"></script>
    <title>OpenLayers 3 example</title>
  </head>
  <body>
    <h2>Realtime Earth</h2>
    <div id="map" class="map"></div>
    <button id="take_photo" style="font-size: 1.5em">TAKE PHOTO</button>

    <script type="text/javascript" src="/static/scripts/realtime.js"></script>
  </body>
</html>
